<body>
    <div class="container">
        <h2>Új Topic Létrehozása</h2>
        <form>
            <label for="title">Cím</label>
            <input type="text" id="title" placeholder="Add meg a topic címét..." required>
            <label for="description">Leírás</label>
            <textarea id="description" rows="4" placeholder="Írj egy rövid leírást..." required></textarea>
            <label for="category" >Kategória:</label>
            <select id="category" >
                <option>Programozás</option>
                <option>Tech</option>
                <option>Egyéb</option>
            </select>
            <br><br>
            <button type="submit">Létrehozás</button>
        </form>
    </div>
</body>

