<app-header></app-header>
<div class="container mt-4">
    <h2>Új Topic létrehozása</h2>

    <form [formGroup]="topicForm" (ngSubmit)="onSubmit()" class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Cím</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">Tartalom</label>

        <p-editor #editor formControlName="content" [style]="{ height: '320px' }"
          [modules]="toolbarOptions">
          <p-header hidden></p-header>
        </p-editor>

        <input type="file" id="imageUpload" (change)="imageHandler($event)" accept="image/*" hidden>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Kategória</label>
        <select class="form-select" id="category" formControlName="category_id">
          <option *ngFor="let category of categories" [value]="category.id">
            {{category.category_name}}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="topicForm.invalid || isSubmitting">
        Téma létrehozása
      </button>
    </form>
</div>
