<body>
  <app-theme-toggle style="display: none;"></app-theme-toggle>
  <div class="login-container">
    <div class="logo-container">
      <img src="https://berenandor.moriczcloud.hu/storage/logo-dark.png" *ngIf="themeService.theme() === 'dark'" class="login-logo">
      <img src="https://berenandor.moriczcloud.hu/storage/logo.png" *ngIf="themeService.theme() === 'light'" class="login-logo">
    </div>
    <div class="login-panel">
      <h2>Elfelejtett jelszó</h2>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email cím</label>
          <input type="email" id="email" formControlName="email" placeholder="Írd be az email címed">
          <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched" class="error">
            Kérjük, adj meg egy érvényes e-mail címet.
          </div>
        </div>
        <button type="submit" class="login-button" [disabled]="forgotForm.invalid">Jelszó visszaállítása</button>
        <div class="additional-links">
          <a href="login">Vissza a bejelentkezéshez</a>
        </div>
      </form>
    </div>
  </div>
</body>