<app-header></app-header>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Profil</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="userProfile.picture" alt="Profil kép" class="img-fluid rounded-circle">
                        </div>
                        <div class="col-md-8 text-end">
                            <h4 class="mb-3">{{ userProfile.name }}</h4>
                            <p><strong>Email:</strong> {{ userProfile.email }}</p>
                            <p><strong>Regisztráció dátuma:</strong> {{ userProfile.created_at | date }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="change-password"><button href="password/change" class="btn btn-warning btn-block mb-2">Jelszó változtatása</button></a>
                            
                        </div>
                        <div class="col-md-6">
                            <a href="logout"><button class="btn btn-danger btn-block">Kijelentkezés</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
