<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
  </head>
  <body>
    <app-header></app-header>
    <div class="container py-3">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="category" class="form-label">Kategória:</label>
          <select
            id="category"
            [(ngModel)]="categoryId"
            (change)="filterTopics()"
            class="form-select"
          >
            <option value="">Minden kategória</option>
            <option
              *ngFor="let category of categories"
              value="{{ category.id }}"
            >
              {{ category.category_name }}
            </option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label for="title" class="form-label">Cím keresése:</label>
          <input
            type="text"
            id="title"
            [(ngModel)]="title"
            (input)="filterTopics()"
            class="form-control"
            placeholder="Cím keresése..."
          />
        </div>

        <div class="col-md-4 mb-3">
          <label for="orderBy" class="form-label">Rendezés:</label>
          <select
            id="orderBy"
            [(ngModel)]="orderBy"
            (change)="filterTopics()"
            class="form-select"
          >
            <option value="created_at">Dátum szerint</option>
            <option value="upvotes">Upvote-ok szerint</option>
          </select>
        </div>
      </div>
    </div>

    <h1 class="text-center" *ngIf="userId == null">Én Topic-jaim</h1>
    <h1 class="text-center" *ngIf="userId != null">{{topics[0].user.name}} Topic-jai</h1>

    <div
      *ngFor="let topic of topics; index as i"
      (click)="navigateToTopic(topic.id, $event)"
      class="forum-container container"
      [@fadeInOnEnter]
    >
      <div class="card post-card">
        <div class="card-body">
          <div class="d-flex align-items-start position-relative">
            <div
              class="menu-container"
              *ngIf="topic.user_id == currentUserId || IsAdmin()"
            >
              <p-menu
                #menu
                [popup]="true"
                [model]="
                  topic.user_id == currentUserId ? ownMenuItems : adminMenuItems
                "
                appendTo="body"
              ></p-menu>
              <p-button
                class="menu-button"
                (click)="openMenu($event, topic.id, topic.user.id, menu)"
                icon="pi pi-ellipsis-v"
              />
            </div>

            <div class="flex-grow-1">
              <div class="d-flex align-items-center mb-2">
                <p-avatar
                  image="https://berenandor.moriczcloud.hu/storage/{{
                    topic.user.avatar
                  }}"
                  size="large"
                  shape="circle"
                />
                <div class="ms-2">
                  <span class="author username">
                    {{ topic.user.name }}
                  </span>
                  <span
                    class="text-muted"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="{{ topic.created_at }} - {{ topic.updated_at }}"
                  >
                    - {{ topic.timeAgo }}
                  </span>
                </div>
              </div>
              <h1 class="card-title">{{ topic.title }}</h1>
              <p class="text-muted">
                Kategória:
                <span class="fw-bold">{{ topic.category.category_name }}</span>
              </p>
              <p class="card-text" [innerHTML]="topic.content | safeHtml"></p>
            </div>

            <div class="vote-buttons me-3">
              <button
                (click)="vote(topic.id, i, 'up', $event)"
                [class.active]="userVotes[topic.id] === 'up'"
                class="btn btn-light"
              >
                ▲
              </button>
              <span>{{ topic.upvote_count | shortenNumber}}</span>
              <button
                (click)="vote(topic.id, i, 'down', $event)"
                [class.active]="userVotes[topic.id] === 'down'"
                class="btn btn-light"
              >
                ▼
              </button>
              <span *ngIf="topic.comments_count" class="comment-indicator">
                <i class="pi pi-comments"></i> {{ topic.comments_count }} hozzászólás
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="topics.length==0 && !loadingMore">
      <h3 class="text-center mt-4">Nincs találat</h3>
    </div>

    <div class="text-center">
      <button
        *ngIf="hasMoreTopics && !loadingMore"
        (click)="loadMore()"
        class="btn btn-primary"
        [disabled]="loadingMore"
      >
        További téma betöltése
      </button>
      <div *ngIf="loadingMore" class="spinner-border" role="status">
        <span class="visually-hidden">Betöltés...</span>
      </div>
    </div>
  </body>
</html>