<div class="login-container">
    <form class="login-form">
      <h2>Bejelentkezés</h2>
      <div class="input-group">
        <label for="username">Felhasználónév</label>
        <input type="text" id="username" name="username" required placeholder="Írd be a felhasználóneved" />
      </div>
      <div class="input-group">
        <label for="password">Jelszó</label>
        <input type="password" id="password" name="password" required placeholder="Írd be a jelszavad" />
      </div>
      <button type="submit" class="login-button">Bejelentkezés</button>
    </form>
  </div>
  