body {
  background-color: var(--navbar-bg);
  color: var(--text-primary);
  margin: 0;
}

.atfogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--surface);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.primary {
  color: var(--text-primary);
}

.secondary {
  color: var(--text-secondary);
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--highlight);
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border);
  background-color: var(--surface);
  color: var(--text-primary);
  border-radius: 6px;
  transition: border-color 0.3s ease-in-out;
}

.input-group input::placeholder{
  color: var(--text-secondary);
}

.list{
  background-color: var(--surface);
  border: 1px solid var(--border);
}

.input-group input:focus,
.input-group select:focus {
  border-color: var(--highlight);
  outline: none;
}

.btn {
  background: var(--highlight);
  color: var(--text-primary);
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn:hover {
  background: var(--primary);
  transform: scale(1.05);
}

.toggle-theme {
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--highlight);
  border: none;
  color: var(--text-primary);
  padding: 8px 12px;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-theme:hover {
  background: var(--primary);
}