<body>
<app-header></app-header>
<div class="atfogo">
<div class="container mt-4" [@fadeInOnEnter]>
    <h2 class="text-center">Új Topic Kategória</h2>

    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="category" class="form-control" placeholder="Add meg az új kategória nevét...">
        <button class="btn btn-primary" (click)="submit()">Létrehozás</button>
    </div>

    <h3 class="mt-4 primary">Módosítható kategóriák</h3>
    <div *ngIf="categories.length > 0; else noCategory">
        <ul class="list-group">
            <li *ngFor="let cat of categories" [@fadeInOnEnter] class="list-group-item d-flex justify-content-between align-items-center list">
                <span class="primary">{{ cat.category_name }}</span>
                <button class="btn btn-danger btn-sm" (click)="deleteCategory(cat.id)">Törlés</button>
            </li>
        </ul>
    </div>

    <ng-template #noCategory>
        <p class="secondary">Nincsenek nem állandó kategóriák.</p>
    </ng-template>
</div>
</div>
</body>