<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" (click)="redirect('')">
      <img src="https://berenandor.moriczcloud.hu/storage/logo-header-dark.png" *ngIf="themeService.theme() === 'dark'" style="height: 5rem;">
      <img src="https://berenandor.moriczcloud.hu/storage/logo-header.png" *ngIf="themeService.theme() === 'light'" style="height: 5rem;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"><i class="pi pi-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="redirect('create')">
            <i class="pi pi-upload"></i> Feltöltés
          </a>
        </li>
      </ul>
      
      <ul class="navbar-nav d-none d-lg-flex">
        <li class="nav-item dropdown text-center">
          <a class="nav-link d-flex align-items-center kulon" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            <img src="https://berenandor.moriczcloud.hu/storage/{{ userProfile.avatar }}" class="rounded-circle me-2" width="35" height="35" alt="Avatar">
            <span class="username-text">{{ userProfile.name }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <span class="px-3 py-2 fw-bold udv">Üdv, {{ userProfile.name }}!</span>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="redirect('profile')"><i class="pi pi-user"></i> Profil</a></li>
            <li><a class="dropdown-item" (click)="redirect('my-topics')"><i class="pi pi-folder"></i> Én Topicjaim</a></li>
            <li *ngIf="admin == true"><a class="dropdown-item" (click)="redirect('admin/home')"><i class="pi pi-shield"></i> Admin </a></li>
            <li><app-theme-toggle></app-theme-toggle></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" (click)="redirect('logout')"><i class="pi pi-sign-out"></i> Kijelentkezés</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav d-lg-none">
        <li class="nav-item">
          <a class="nav-link" (click)="redirect('profile')">
            <i class="pi pi-user"></i> Profil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="redirect('my-topics')">
            <i class="pi pi-folder"></i> Én Topicjaim
          </a>
        </li>
        <li class="nav-item" *ngIf="admin == true">
          <a class="nav-link" (click)="redirect('admin/home')">
            <i class="pi pi-shield"></i> Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="themeService.toggleTheme()" [ngClass]="{ 'dark': themeService.theme() === 'dark' }">
            <i *ngIf="themeService.theme() === 'dark'" class="pi pi-lightbulb me-3"></i>
            <i *ngIf="themeService.theme() === 'light'" class="pi pi-moon me-3"></i>
            {{ themeService.theme() === 'dark' ? 'Világos mód' : 'Sötét mód' }}
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" (click)="redirect('logout')">
            <i class="pi pi-sign-out"></i> Kijelentkezés
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>