<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
  </head>
  
  <app-header></app-header>
  <body>
    <div class="container">
      <div *ngFor="let topic of topics">
        <div class="card">
          <div class="card-body">
            <div class="topic-header">
              <div class="menu-container" *ngIf="topicOwner">
                <p-menu
                  #menu
                  [popup]="true"
                  [model]="menuItems"
                  appendTo="body"
                ></p-menu>
                <p-button
                  (click)="openTopicMenu($event, topic.id, menu)"
                  icon="pi pi-ellipsis-v"
                />
              </div>

              <div class="topic-author">
                <div class="avatar-container">
                  <p-avatar
                    image="https://berenandor.moriczcloud.hu/storage/{{topic.user.avatar}}"
                    size="large"
                    shape="circle"
                  />
                  <span>
                    <span class="author-name">{{ topic.user.name }}</span>
                    <span
                      class="date"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="{{ topic.created_at }} - {{ topic.updated_at }}"
                    >
                      - {{ topic.timeAgo }}
                    </span>
                  </span>
                </div>

                <h1 class="title">{{ topic.title }}</h1>
                <p class="category">
                  Kategória:
                  <span>{{ topic.category.category_name }}</span>
                </p>
                <div
                  class="content author-name"
                  [innerHTML]="topic.content | safeHtml"
                  (click)="openImage($event)"
                ></div>
              </div>
            </div>

            <div class="comment-section">
              <div class="vote-buttons">
                <button
                  (click)="voteTopic('up')"
                  [class.active]="userVote === 'up'"
                >
                  &#x25B2;
                </button>
                <span class="author-name">{{ topic.upvote_count }}</span>
                <button
                  (click)="voteTopic('down')"
                  [class.active]="userVote === 'down'"
                >
                  &#x25BC;
                </button>
              </div>

              <h5>Hozzászólások</h5>

              <div
                *ngFor="let comment of topic.comments; index as i"
                class="comment"
              >
                <div *ngIf="editingCommentId !== comment.id; else editCommentTemplate">
                  <div class="avatar-container">
                    <p-avatar
                      image="https://berenandor.moriczcloud.hu/storage/{{topic.user.avatar}}"
                      size="large"
                      shape="circle"
                    />
                    <span>
                      <span class="author-name">{{ topic.user.name }}</span>
                      <span
                      class="date"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="{{ topic.created_at }} - {{ topic.updated_at }}"
                      >
                         {{ topic.timeAgo }}
                      </span>
                    </span>
                  </div>
                  <p class="comment-text author-name">{{ comment.content }}</p>
                </div>

                <ng-template #editCommentTemplate>
                  <div class="edit-form">
                    <div class="input-wrapper">
                      <input
                        pTextarea
                        [(ngModel)]="editedCommentContent"
                      >
                      <button
                        class="emoji-button"
                        (click)="toggleEmojiPicker()"
                      >
                        😊
                      </button>
                    </div>

                    <div *ngIf="showEmojiPicker" class="emoji-picker">
                      <emoji-mart
                        [set]="'twitter'"
                        [i18n]="emojiLang"
                        (emojiSelect)="addEmoji($event)"
                      ></emoji-mart>
                    </div>

                    <div class="edit-actions">
                      <button
                        class="save-button"
                        (click)="saveEditedComment(comment.id)"
                      >
                        Mentés
                      </button>
                      <button
                        class="cancel-button"
                        (click)="cancelEdit()"
                      >
                        Mégse
                      </button>
                    </div>
                  </div>
                </ng-template>

                <div
                  class="menu-container"
                  *ngIf="comment.user_id == currentUserId || topicOwner"
                >
                  <p-menu
                    #menu
                    [popup]="true"
                    [model]="comment.menuItems"
                    appendTo="body"
                  ></p-menu>
                  <p-button
                    (click)="openMenu($event, comment.id, menu)"
                    icon="pi pi-ellipsis-v"
                  />
                </div>

                <div class="comment-vote">
                  <button
                    (click)="voteComment(comment.id, i, 'up')"
                    [class.active]="userCommentVotes[comment.id] === 'up'"
                  >
                    &#x25B2;
                  </button>
                  <span class="author-name">{{ comment.upvote_count }}</span>
                  <button
                    (click)="voteComment(comment.id, i, 'down')"
                    [class.active]="userCommentVotes[comment.id] === 'down'"
                  >
                    &#x25BC;
                  </button>
                </div>
              </div>

              <div class="comment-form">
                <div class="input-wrapper">
                  <input
                    type="text"
                    placeholder="Írj egy hozzászólást..."
                    [(ngModel)]="newComment"
                  />
                  <button
                    class="emoji-button"
                    (click)="toggleEmojiPicker()"
                  >
                    😊
                  </button>
                </div>

                <div *ngIf="showEmojiPicker" class="emoji-picker">
                  <emoji-mart
                    [set]="'twitter'"
                    [i18n]="emojiLang"
                    (emojiSelect)="addEmoji($event)"
                  ></emoji-mart>
                </div>

                <button
                  class="submit-button"
                  (click)="addComment(topic.id)"
                >
                  Küldés
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal"
      *ngIf="isImageModalOpen"
      (click)="isImageModalOpen = false"
    >
      <img [src]="selectedImage" class="modal-image" />
    </div>
  </body>
</html>
