<div class="admin-table-container">
    <app-header></app-header>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>User ID</th>
            <th>Felhasználónév</th>
            <th>Email</th>
            <th>Műveletek</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users.data">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button class="btn btn-edit" (click)="userClick(user.id)">Profil Megtekintése</button>
              <button class="btn btn-admin">Admin jog</button>
              <button class="btn btn-ban">Ban</button>
              <button class="btn btn-delete">Törlés</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div *ngIf="!loading && !allLoaded" class="load-more-container">
        <button class="btn btn-load-more" (click)="loadMore()">Több betöltése</button>
      </div>
  
      <div *ngIf="loading" class="loading-spinner">Töltés...</div>
    </div>
  </div>