<app-header></app-header>
<div class="admin-table-container">
  <br>
  <div class="search-container">
      <input type="text" [(ngModel)]="category" (input)="filterTopics()" class="input-field" placeholder="🔍 Keresés felhasználónév vagy email alapján...">
  </div>
  <div class="table-container">
      <table>
          <thead>
              <tr>
                  <th>User ID</th>
                  <th>Felhasználónév</th>
                  <th>Email</th>
                  <th>Műveletek</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users.data">
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}<b *ngIf="currentUserId == user.id">(Te)</b></td>
                  <td>{{ user.email }}</td>
                  <td>
                      <div class="btn-group" *ngIf="currentUserId != user.id">
                          <button class="btn btn-edit" (click)="userClick(user.id)">Profil</button>
                          <button class="btn btn-admin" *ngIf="user.is_admin == 0" (click)="makeAdmin(user.id)">Admin</button>
                          <button class="btn btn-admin revoke" *ngIf="user.is_admin == 1" (click)="revokeAdmin(user.id)">Adminjog elvétel</button>
                          <button class="btn btn-ban" *ngIf="user.is_banned == 0" (click)="banUser(user.id)">Ban</button>
                          <button class="btn btn-ban" *ngIf="user.is_banned == 1" (click)="unbanUser(user.id)">Unban</button>
                          <button class="btn btn-delete" (click)="userClick(user.id)">Törlés</button>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <div *ngIf="!loading && !allLoaded" class="load-more-container text-center">
      <button class="btn btn-load" (click)="loadMore()">🔄 Több betöltése</button>
  </div>

  <div *ngIf="loading" class="loading-spinner text-center">⏳ Töltés...</div>
</div>
