
<app-header></app-header>
<body>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Felhasználónév</th>
                    <th>Email</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td>
                        <!-- <button class="btn btn-edit" (click)="userClick(topic.user.id, $event)">Profil Megtekintése</button> -->
                        <button class="btn btn-admin">Admin jog</button>
                        <button class="btn btn-ban">Ban</button>
                        <button class="btn btn-delete">Törlés</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

