<body>
  <div class="login-container">
    <div class="login-panel">
      <h2>Regisztráció</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Felhasználónév</label>
          <input type="text" id="name" formControlName="name" placeholder="Válassz egy felhasználónevet">
          <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
            A felhasználónév megadása kötelező.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email cím</label>
          <input type="email" id="email" formControlName="email" placeholder="Írd be az email címed">
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
            Érvényes email cím megadása kötelező.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Jelszó</label>
          <input type="password" id="password" formControlName="password" placeholder="Válassz egy jelszót">
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
            A jelszónak legalább 8 karakter hosszúnak kell lennie.
          </div>
        </div>
        <button type="submit" [disabled]="registerForm.invalid" class="login-button">Regisztráció</button>
        <div class="additional-links">
          <a routerLink="/login">Már van fiókom</a>
        </div>
      </form>
    </div>
  </div>
</body>
