<body [@fadeInOnEnter]>
  <app-theme-toggle style="display: none;"></app-theme-toggle>
  <div class="register-container">
    <div class="logo-container">
      <img src="https://berenandor.moriczcloud.hu/storage/logo-dark.png" *ngIf="themeService.theme() === 'dark'" class="register-logo">
      <img src="https://berenandor.moriczcloud.hu/storage/logo.png" *ngIf="themeService.theme() === 'light'" class="register-logo">
    </div>
    <div class="register-panel">
      <h2 class="text-center mb-4">Regisztráció</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Felhasználónév</label>
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Válassz egy felhasználónevet">
          <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger mt-1">
            A felhasználónév megadása kötelező.
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email cím</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Írd be az email címed">
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger mt-1">
            Érvényes email cím megadása kötelező.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Jelszó</label>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Válassz egy jelszót">
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger mt-1">
            A jelszónak legalább 8 karakter hosszúnak kell lennie.
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn w-100 register-button">Regisztráció</button>

        <div class="mt-3 text-center additional-links">
          <a (click)="redirect('login')" class="text-decoration-none">Már van fiókom</a>
        </div>
      </form>
    </div>
  </div>
</body>