<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
  </head>
  <body>
    <app-header></app-header>

    <div class="container py-3">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="category" class="form-label">Kategória:</label>
          <select
            id="category"
            [(ngModel)]="categoryId"
            (change)="filterTopics()"
            class="form-select"
          >
            <option value="">Minden kategória</option>
            <option
              *ngFor="let category of categories"
              value="{{ category.id }}"
            >
              {{ category.category_name }}
            </option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label for="title" class="form-label">Cím keresése:</label>
          <input
            type="text"
            id="title"
            [(ngModel)]="title"
            (input)="filterTopics()"
            class="form-control"
            placeholder="Cím keresése..."
          />
        </div>

        <div class="col-md-4 mb-3">
          <label for="orderBy" class="form-label">Rendezés:</label>
          <select
            id="orderBy"
            [(ngModel)]="orderBy"
            (change)="filterTopics()"
            class="form-select"
          >
            <option value="created_at">Dátum szerint (Újabb felül)</option>
            <option value="upvotes">Upvote-ok szerint (Több felül)</option>
            <option value="created_at_asc">
              Dátum szerint (Régebbi felül)
            </option>
            <option value="upvotes_asc">
              Upvote-ok szerint (Kevesebb felül)
            </option>
          </select>
        </div>
      </div>
    </div>

    <div
      *ngFor="let topic of topics; index as i"
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp(topic.id, $event)"
      (touchstart)="onMouseDown($event)"
      (touchend)="onMouseUp(topic.id, $event)"
      class="forum-container container"
    >
      <div class="post">
        <div class="post-content">
          <h5 class="post-title">{{ topic.title }}</h5>
          <p class="post-meta">
            Kategória:
            <span class="category">{{ topic.category.category_name }}</span>
          </p>
          <p class="post-meta">
            by <span class="author" (click)="userClick(topic.user.id)">{{ topic.user.name }}</span> -
            {{ topic.timeAgo }}
          </p>
          <div class="post-text" [innerHTML]="topic.content | safeHtml"></div>
          <div class="vote-buttons me-3">
            <button
              (click)="vote(topic.id, i, 'up')"
              [class.active]="userVotes[topic.id] === 'up'"
              class="btn btn-light"
            >
              &#x25B2;
            </button>
            <span>{{ topic.upvote_count }}</span>
            <button
              (click)="vote(topic.id, i, 'down')"
              [class.active]="userVotes[topic.id] === 'down'"
              class="btn btn-light"
            >
              &#x25BC;
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button
        *ngIf="hasMoreTopics && !loadingMore"
        (click)="loadMore()"
        class="btn btn-primary"
        [disabled]="loadingMore"
      >
        További téma betöltése
      </button>
      <div *ngIf="loadingMore" class="spinner-border" role="status">
        <span class="visually-hidden">Betöltés...</span>
      </div>
    </div>
  </body>
</html>
