<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <app-header></app-header>
    
    <div *ngFor="let topic of topics" class="forum-container container">
      <div class="post">
        <div class="post-content">
          <h2 class="post-title">{{topic.title}}</h2>
          <p class="post-meta">by <span class="author">{{topic.user.name}}</span> - {{topic.timeAgo}}</p>
          <p class="post-text">{{topic.content}}</p>
          <div class="post-actions">
            <button>💬 5 Hozzászólás</button>
            <button>🔗 Megosztás</button>
          </div>
        </div>
      </div>
    </div>  

    </body>
</html>
