body {
  background-color: var(--navbar-bg);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 81rem;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--surface);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.form-label {
  font-weight: bold;
  color: var(--text-primary);
}

.form-control,
.form-select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--border);
  background-color: var(--surface);
  color: var(--text-primary);
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--highlight);
  outline: none;
}

.forum-container {
  background-color: var(--surface);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s;
}

.forum-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.post {
  display: flex;
  flex-direction: column;
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  max-width: 100%;
}

.post-text {
  overflow: hidden;
  max-width: 100%;
}

::ng-deep .post-text img {
  max-width: 100% !important;
  height: auto !important;
  max-height:800px !important;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
}

.post-meta {
  font-size: 14px;
  color: var(--text-secondary);
}

.category {
  font-weight: bold;
  color: var(--highlight);
}

.author {
  font-weight: bold;
  cursor: pointer;
  color: var(--primary);
  transition: color 0.3s ease-in-out;
}

.author:hover {
  color: var(--highlight);
}

.menu-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-secondary);
  font-size: 18px;
  transition: color 0.3s;
}

.menu-button:hover {
  color: var(--primary);
}

/* Szavazás */
.vote-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.vote-buttons button {
  background: none;
  border: 1px solid var(--border);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.vote-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.vote-buttons button.active {
  background-color: var(--highlight);
  color: white;
}

.vote-buttons .btn-light {
  font-size: 16px;
  color: var(--text-primary);
  transition: background 0.3s;
}

.vote-buttons .btn-light:hover {
  background-color: var(--highlight);
  color: white;
}

.vote-buttons .btn-light:active {
  transform: scale(0.9);
}

.vote-buttons button:nth-child(1) {
  color: var(--vote-up);
}

.vote-buttons button:nth-child(3) {
  color: var(--vote-down);
}

.spinner-border {
  color: var(--primary);
}

.btn-primary {
  background-color: var(--highlight);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--primary);
}

::ng-deep .p-button
{
  background-color: var(--icon-color) !important;
  border: var(--primary) !important;
}
::ng-deep .p-button:hover{
  background-color: var(--icon-hover) !important;
  border: var(--primary) !important;
}
