@import '@ctrl/ngx-emoji-mart/picker';
@import "primeicons/primeicons.css";
*{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

:root {
    --background: #f5ebe0;   
    --surface: #e3dac9;    
    --primary: #3a3a3a;  
    --secondary: #6c757d;    
    --text-primary: #2c2c2c; 
    --text-secondary: #5a5a5a;
    --border: #d6c4b2;      
    --highlight: #b08968;    
    --vote-up: #28a745;      
    --vote-down: #dc3545;   
}
  .dark-theme {
    --background: #121212;
    --surface: #1e1e1e;
    --primary: #a36fa8;
    --secondary: #bbbbbb;
    --text-primary: #eeeeee;
    --text-secondary: #aaaaaa;
    --border: #333333;
    --highlight: #dba7e0;
    --vote-up: #44c767;
    --vote-down: #ff4c4c;
  }
  