/* a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: #000;
    transform: translateX(5px);
    cursor: pointer;
    background-color: #1db954;

}
a:hover i{
    color: #000;
    transition: all 0.3s ease-in-out;
    transform: translateX(5px);
    cursor: pointer;
} */